/* ---------- MOBILE FIRST ---------- */

/* 's' query (smartphone landscape / tablet portrait) */
@media screen and (min-width: 576px) {

    /* containers */
    header {
        flex-basis: 36%;
    }
    #content {
        flex-basis: 64%;
    }



    /* logo display */
    #logo-extended {
        display: inline-block;
    }
    #logo-mark {
        display: none;
    }
    /* logo */
    .logo-box {
        width: 60%;
        max-width: none;
        padding-left: 16px;
    }

    /* menu main alignment */
    .menu-main {
        align-items: flex-start;
    }

}