/* ---------- MOBILE FIRST ---------- */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

/* --- root --- */
:root {

    /* colors */
    --color-neutral-black: #000000;
    --color-neutral-black-900: #060606;
    --color-neutral-black-800: #101010;
    --color-neutral-black-700: #141414;
    --color-neutrasl-darkgrey: #343434;
    --color-neutral-grey: #4e4e4e;
    --color-neutral-lightgrey: #787878;
    --color-neutral-white: #e1e1e1;
    --color-accent: #59ff00;

    --font-size-xl: 2rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.5rem;

    --font-weight-l: 800;
    --font-weight-m: 700;
    --font-weight-s: 600;

    --font-lh-headings: 125%;
    --font-lh-body: 140%
}

/* --- reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
figure {
    display: inline-block;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
/* reset list */
ul {
    list-style-type: none;
}
/* button reset */
button {
    border: none;
}



html {
    font-family: "Urbanist", sans-serif;
}




/* --- global styles --- */

p, span, li, button {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-lh-body);
    color: var(--color-neutral-grey);
}

.text-headings {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    line-height: var(--font-lh-headings);
    color: var(--color-neutral-white);
}
.text-big {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    line-height: var(--font-lh-headings);
    color: var(--color-neutral-white);
}
.text-small {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-s);
    line-height: var(--font-lh-body);
    color: var(--color-neutral-grey);
}
.text-uppercase {
    text-transform: uppercase;
}


/* icons container */
.icon-box {
    min-width: 12px;
    aspect-ratio: 1;
    color: var(--color-neutral-white);
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* card */
.card {
    flex-basis: calc((100% / 2) - 12px);
    gap: 16px;
}
.card .card-info {
    gap: 4px;
}

/* flex rules */

.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.align-i-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}

/* display responsive */
.hide {
    display: none;
}


/* ---- CSS ---- */

/* -- containers -- */
.wrapper {
    height: 100vh;
    width: 100%;
}

header {
    height: 88vh;
    flex-basis: 12%;
    background-color: var(--color-neutral-black);
    padding: 12px 0;
}
footer {
    flex-basis: 100%;
    height: 12vh;
    background-color: var(--color-neutral-black-700);
}
#content {
    flex-basis: 88%;
    height: 88vh;
    padding-bottom: 40px;
    background-color: var(--color-neutral-black-800);
}
#content #upgrade {
    height: 12%;
    width: 100%;
    background-color: var(--color-neutral-black-900);
}
main {
    height: 92%;
    width: 100%;

    overflow: auto;

    background-color: var(--color-neutral-black-800);
}

/* -- header -- */

/* logo box */
.logo-box {
    width: 60%;
    max-width: 32px;
}
.logo-box figure {
    width: 100%;
}

/* macro-sezioni header */
.menu-main {
    gap: 24px;
}
/* navigazione principale header (home..) */
.nav-main ul {
    gap: 4px;
}

/* profile pic user account */
.menu-account > figure {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-neutral-lightgrey);
    overflow: hidden;
}

/* upgrade */
#upgrade {
    padding: 0 16px;
}

/* upgrade button */
button {
    background-color: transparent;
    border: 1px solid var(--color-neutral-white);
    padding: 8px 24px;
    border-radius: 900px;
    color: var(--color-neutral-white);
}

/* --- main --- */

/* main */
main {
    padding: 0 4%;
    gap: 48px;
}

/* nav primary list */

#nav-primary > ul {
    gap: 12px;
}


/* -- Recently Played + Suggestions -- */

/* home sections */
#recently-played, #suggestions, #artists-popular {
    gap: 20px;
}
/* song container */
.song-container {
    gap: 12px;
    text-align: center;
}

/* home sections header */
.home-sections-header {
    gap: 8px;
}

/* artists img */
#artists-popular .card-cover {
    border-radius: 50%;
}


/* -- footer -- */

footer {
    padding: 0 16px;
}

/* player left icons */
footer .player-left-actions i {
    color: var(--color-neutral-grey);
}

/* player left */
.player-left {
    gap: 16px;
}

/* player current */
footer .player-current {
    gap: 8px;
}

/* current cover img */
footer .player-current > figure {
    width: 100%;
    max-width: 28px;
}

/* player center */
.player-center {
    gap: 12px;
}

/* player center actions */
.player-center-actions {
    gap: 8px;
}
/* play icon */
.player-center-actions .play {
    width: 40px;
}
.player-center-actions .play i {
    font-size: 24px;
}

/* player center time */
.player-center-time {
    width: 100%;
    gap: 8px;
}

/* timebar */
.timebar {
    flex-basis: 100%;
    height: 4px;
    background-color: var(--color-neutral-grey);
    border-radius: 900px;
    overflow: hidden;
}
/* timebar listened */
.timebar .timebar-listened {
    height: 100%;
    width: 30%;
    background-color: var(--color-accent);
}