/* ---------- MOBILE FIRST ---------- */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

/* --- root --- */
:root {

    /* colors */
    --color-neutral-black: #000000;
    --color-neutral-black-900: #060606;
    --color-neutral-black-900-alpha: rgba(6, 6, 6, 0.6);
    --color-neutral-black-800: #101010;
    --color-neutral-black-700: #141414;
    --color-neutrasl-darkgrey: #343434;
    --color-neutral-grey: #4e4e4e;
    --color-neutral-lightgrey: #787878;
    --color-neutral-white: #e1e1e1;
    --color-accent: #59ff00;

    --font-size-xl: 2rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.5rem;

    --font-weight-l: 800;
    --font-weight-m: 700;
    --font-weight-s: 600;

    --font-lh-headings: 125%;
    --font-lh-body: 140%
}

/* --- reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
figure {
    display: inline-block;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
/* reset list */
ul {
    list-style-type: none;
}
/* button reset */
button {
    border: none;
}



html {
    font-family: "Urbanist", sans-serif;
}

::-webkit-scrollbar {
    background-color: var(--color-neutral-black-800);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-white);
    border-radius: 900px;
}




/* --- global styles --- */

p, span, li, button {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-lh-body);
    color: var(--color-neutral-grey);
}

.text-headings {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    line-height: var(--font-lh-headings);
    color: var(--color-neutral-white);
}
.text-big {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    line-height: var(--font-lh-headings);
    color: var(--color-neutral-white);
}
.text-small {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-s);
    line-height: var(--font-lh-body);
    color: var(--color-neutral-grey);
}
.text-uppercase {
    text-transform: uppercase;
}


/* icons container */
.icon-box {
    min-width: 12px;
    aspect-ratio: 1;
    color: var(--color-neutral-white);
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* card */
.card {
    flex-basis: calc((100% / 2) - 12px);
    gap: 16px;
}
.card .card-info {
    gap: 4px;
}

/* flex rules */

.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.align-i-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}

/* display responsive */
.hide {
    display: none;
}


/* ---- CSS ---- */

/* -- containers -- */
.wrapper {
    height: 100vh;
    width: 100%;
}

header {
    height: 88%;
    flex-basis: 12%;
    background-color: var(--color-neutral-black);
    padding: 12px 0;
}
footer {
    flex-basis: 100%;
    height: 12%;
    /* background-color: var(--color-neutral-black-700); */
    background: linear-gradient(0deg, rgba(16,16,16,1) 50%, rgb(7, 20, 0) 100%);
}
#content {
    flex-basis: 88%;
    height: 88%;
    /* background-color: var(--color-neutral-black-800); */
    background: rgb(16,16,16);
    background: linear-gradient(-45deg, rgba(16,16,16,1) 0%, rgba(12,35,0,1) 100%);
    background-attachment: fixed;
    overflow: auto;
}
#content #upgrade {
    height: 12%;
    width: 100%;
    padding: 0 12px;
    background-color: var(--color-neutral-black-900-alpha);
    position: sticky;
    top: 0;
    backdrop-filter: blur(12px);
    z-index: 9;
}
main {
    height: 88%;
    width: 100%;
    padding: 20px 12px 20px;
    gap: 48px;
    /* background-color: var(--color-neutral-black-800); */
}

/* -- header -- */

/* logo box */
.logo-box {
    min-width: 28px;
    width: 100%;
    max-width: 32px;
}
.logo-mark {
    aspect-ratio: 1;
}
.logo-box figure {
    width: 100%;
}

/* macro-sezioni header */
.menu-main {
    gap: 24px;
}
/* navigazione principale header (home..) */
.nav-main ul {
    gap: 4px;
}

/* profile pic user account */
.menu-account > figure {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-neutral-lightgrey);
    overflow: hidden;
}

/* upgrade button */
button {
    background-color: transparent;
    border: 1px solid var(--color-neutral-white);
    padding: 8px 24px;
    border-radius: 900px;
    color: var(--color-neutral-white);
}

/* nav primary list */

#nav-primary > ul {
    gap: 12px;
}


/* -- Recently Played + Suggestions -- */

/* home sections */
#recently-played, #suggestions, #artists-popular {
    gap: 20px;
}
/* song container */
.song-container {
    gap: 12px;
    text-align: center;
}

/* home sections header */
.home-sections-header {
    gap: 8px;
}

/* artists img */
#artists-popular .card-cover {
    border-radius: 50%;
}


/* -- footer -- */

footer {
    padding-bottom: 8px;
}

/* player left icons */
footer .player-left-actions i {
    color: var(--color-neutral-grey);
}

/* player left */
.player-left {
    gap: 16px;
    flex-basis: 40%;
}

/* player current */
footer .player-current {
    gap: 8px;
}

/* current cover img */
footer .player-current > figure {
    width: 100%;
    max-width: 28px;
}

/* player center */
.player-center {
    gap: 4px;
    flex-basis: 40%;
}

/* player center actions */
.player-center-actions {
    gap: 8px;
}
/* play icon */
.player-center-actions .play {
    width: 40px;
}
.player-center-actions .play i {
    font-size: 24px;
}

/* player center time */
.player-center-time {
    width: 100%;
    gap: 8px;
}

/* timebar */
.timebar {
    flex-basis: 100%;
    height: 8px;
    background-color: var(--color-neutral-grey);
    overflow: hidden;
}
/* timebar listened */
.timebar .timebar-listened {
    height: 100%;
    width: 40%;
    background-color: var(--color-accent);
    border-radius: 0px 900px 900px 0;
}
/* timebar pointer */
.timebar .timebar-listened .timebar-pointer {
    height: 300%;
    aspect-ratio: 1;
    background-color: var(--color-neutral-white);
    border-radius: 50%;
    box-shadow: -2px 0px 12px var(--color-neutral-black);
}
/* timebar */
.volumebar {
    flex-basis: 100%;
    height: 8px;
    background-color: var(--color-neutral-grey);
    border-radius: 900px;
}
/* volumebar listened */
.volumebar .volumebar-listened {
    height: 100%;
    width: 40%;
    background-color: var(--color-accent);
    border-radius: 900px;
}
/* volumebar pointer */
.volumebar .volumebar-listened .volumebar-pointer {
    height: 200%;
    aspect-ratio: 1;
    background-color: var(--color-neutral-white);
    border-radius: 50%;
    box-shadow: -2px 0px 12px var(--color-neutral-black);
}

/* end code */
/* start bonus */